<div data-messaging-config
     data-msg-layout="{{ __SELF__.layout }}"
     data-msg-theme="{{ __SELF__.theme }}"
     data-msg-dismiss-queue="{{ __SELF__.dismissQueue }}"
     data-msg-template="{{ __SELF__.template }}"
     data-msg-animation-open="{{ __SELF__.openAnimation }}"
     data-msg-animation-close="{{ __SELF__.closeAnimation }}"
     data-msg-timeout="{{ __SELF__.timeout }}"
     data-msg-force="{{ __SELF__.force }}"
     data-msg-modal="{{ __SELF__.modal }}"
     data-msg-max-visible="{{ __SELF__.maxVisible }}"
        >
</div>
{% flash %}
{% put scripts %}
<script type="text/javascript" language="javascript">
    {% if __SELF__.property('snowboardMode') %}
    // Snowboard mode - use Apparatus.messaging (set by Snowboard plugin)
    if (typeof Snowboard !== 'undefined') {
        Snowboard.ready(function() {
            if (window.Apparatus && window.Apparatus.messaging) {
                window.Apparatus.messaging.handleFlashMessage('{{ type }}', '{{ message }}');
            } else {
                console.error('Apparatus Messaging plugin not loaded');
            }
        });
    }
    {% else %}
    // jQuery mode - use $.apparatus.messaging
    $(function () {
        $.apparatus.messaging.handleFlashMessage('{{ type }}', '{{ message }}');
    });
    {% endif %}
</script>
{% endput %}
{% endflash %}